html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Prevents body from scrolling */
}

.board {  position: relative;
    width: 500vw;
    height: 500vh;
    display: flex;
    overflow: scroll;
    justify-content: space-between;
    align-items: center;
    background-color: darkgreen;
    overflow: auto;
    margin: 0 auto

}



.right-spacer {
  width: 120px
}