.board {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkgreen;

}



.hand {
    display: flex;
    flex-direction:row;  
      position: absolute;
    bottom: 0;
  
}

.right-spacer {
  width: 120px
}