.domino {
    --domino-height: 60px;
    height: 60px;
    background-color: white;
    height: var(--domino-height);
    --domino-width: 120px;
    width:120px;
    border-width: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    /* padding-left: 10px;
    padding-right: 10px; */
}

.divider {
    width: 5px;
    height: var(--domino-height);
    background-color: black;
    margin-right: 5px;
    margin-left: 5px;
}

.vertical {
    transform: rotate(0.25turn)  translate(calc(-1 * var(--domino-width) / 2 + calc(var(--domino-height) / 2)) );
}

.pointer-events-none {
    pointer-events: none;
  }

  .outer-wrapper {
    border-width: 10;
    border-color: black;
  }